{% extends 'base1.html.twig' %}
{% block body %}
<div id="contact-section">
    <div class="container">
        <!-- Heading Row -->
        {% for apps in apps %}
        <div class="row align-items-center my-5">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ asset('/image/apps/' ~ apps.image.name) }}" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-7">
                <h1 class="font-weight-light">{{ apps.title | raw }}</h1>
                <p>{{ apps.body | raw }}</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        {% endfor %}
        <hr>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-6">
                <h1 class="font-weight-light">Onetoshop proberen?</h1>
                <p>Wil je rustig ontdekken wat Onetoshop allemaal te bieden heeft? Probeer het platform dan geheel vrijblijvend 30 dagen lang uit.</p>
                <a class="btn btn-primary" href="{{ path('succes') }}">Demo aanvragen</a>
            </div>
            <div class="col-lg-6">
                <h1 class="font-weight-light">Welke apps kies jij?</h1>
                <p>Bij Onetoshop integreren we gemakkelijk jouw webshop met je favoriete betaal-, verzend en social media apps.
                    Éénvoudig te beheren via het gebruiksvriendelijk ingerichte Onetoshop dashboard.
                    Welke apps kies jij?</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <div>
            <input style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm" value="<-- Terug" onClick="history.back()">
        </div>
    </div>
    <!-- /.container -->
</div>
{% endblock %}
