{% extends 'admin/adminbase.html.twig' %}


{% block body %}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                    <a href="{{ path('user') }}">Gebruiker</a>
            </li>
            <li class="breadcrumb-item active">Instellingen</li>
        </ol>

    <h1>Instellingen</h1>
    <hr>



        {% endblock %}