{% block header %}
    <link href="../adminmap/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
{% endblock %}

{% block title %}<title>Reset</title>{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
