{#{% extends 'base.html.twig' %}#}

{#{% block title %}Hello RegistrationController!{% endblock %}#}
{#?#}
{#{% block body %}#}
{#    {{ form_start(form) }}#}
{#    {{ form_row(form.email) }}#}
{#    {% if form.password is defined %}#}
{#    {{ form_row(form.password) }}#}
{#    {% endif %}#}


{#    <button type="submit">Register!</button>#}
{#    {{ form_end(form) }}#}
{#{% endblock %}#}
