{% extends 'base.html.twig' %}


{% block body %}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-bar-chart"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Service</h2>
                                    <p>Onetoshop heeft alle oplossingen. Of u nu een startende webwinkelier bent, <span class="bread-ntd"> of al jaren vele producten verhandelt; wij hebben het pakket dat bij uw bedrijf past</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="generic_price_table">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <h1>Altijd een pakket dat bij u past</h1>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">

            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Basic</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                      <span class="price">
                                          <span class="sign">€</span>
                                          <span class="currency">14</span>
                                          <span class="cent">.99</span>
                                          <span class="month">p/m</span>
                                      </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li> tot 2500 producten</li>
                                <li> SSL & Eigen domeinnaam</li>
                                <li>Responsive layout</li>
                                <li>Internationaal verkopen</li>
                                <li>E-mailmarketing</li>
                                <li>Zoekmachine vriendelijk</li>
                                <li>B2B</li>
                                <li>Support via e-mail (tickets)</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>

                <div class="col-md-4">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content  clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Standard</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                      <span class="price">
                                          <span class="sign">€</span>
                                          <span class="currency">29</span>
                                          <span class="cent">.99</span>
                                          <span class="month">p/m</span>
                                      </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li> tot 5000 producten</li>
                                <li> SSL & Eigen domeinnaam</li>
                                <li>Responsive layout</li>
                                <li>Internationaal verkopen</li>
                                <li>E-mailmarketing</li>
                                <li>Zoekmachine vriendelijk</li>
                                <li>B2B & B2C</li>
                                <li>Premium support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
                <div class="col-md-4">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Advanced</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                      <span class="price">
                                          <span class="sign">€</span>
                                          <span class="currency">49</span>
                                          <span class="cent">.99</span>
                                          <span class="month">p/m</span>
                                      </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li> tot 20000 producten</li>
                                <li> SSL & Eigen domeinnaam</li>
                                <li>Responsive layout</li>
                                <li>Internationaal verkopen</li>
                                <li>E-mailmarketing</li>
                                <li>Zoekmachine vriendelijk</li>
                                <li>B2B & B2C</li>
                                <li>Multishop module & Premium support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a class="" href="">Sign up</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
            </div>
            <!--//BLOCK ROW END-->
            <p style="text-align: right;  text-decoration: underline;">Alle prijzen zijn exclusief BTW</p>
        </div>
    </section>
</div>
{% endblock %}
