{% extends 'base.html.twig' %}

{% block title %}Symphart Articles{% endblock %}

{% block body %}
    <div class="form-element-area">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list">
            <div class="basic-tb-hd">
                <h2>Klantbeheer</h2>
                <p>Van sociale media tot e-mailcampagnes, ons platform stelt jou in staat om de betrokkenheid van klanten te vergroten. Door middel van volledige automatisering en realtime feedback leer je jouw klanten beter begrijpen en jouw producten en berichten hierop aan te passen. Ook kun je met behulp van onze klantsegmentatie optie B2B en B2C klanten scheiden en deze klantgroepen eigen kortingen, prijzen en opties toewijzen.</p>
                <div class="line"></div>
                <h2>Wie zijn je klanten?</h2>
                <p>Heb jij inzicht in wie je klanten zijn? Waar ze wonen, hoeveel ze besteden en waar hun interesses liggen? Met het klantbeheersysteem van Onetoshop krijg je antwoorden op je vragen en kun je doelgericht je producten aanpassen aan de wensen van je klant. Door alle tools te bieden om de relatie met je klanten te verbeteren, beschik je over de handvaten om jouw conversie te verhogen.</p>
                <p>Daarnaast heb je de mogelijkheid om jouw klanten actief te helpen bij het plaatsen van hun bestelling. Je kunt achteraf artikelen toevoegen aan een order en hulp bieden bij het wijzigen van wachtwoorden en gegevens.</p>
                <div class="line"></div>
                <h2>Beloon je klanten met spaarsystemen en e-mails op maat</h2>
                <p>Zonder klanten geen webshop! Natuurlijk wil je jouw klanten belonen en in de watten leggen, want zonder hen zou jouw webshop niet kunnen bestaan. Het Onetoshop platform biedt alle mogelijkheden om jouw klanten te belonen, door middel van coupons, spaarsystemen en gerichte kortingsmogelijkheden. Daarnaast heeft Onetoshop een ingebouwd email-marketing systeem waarmee je gericht een klant, groep klanten, of al je klanten op de hoogte kunt houden van het laatste nieuws en (persoonlijke) kortingsacties. Je kunt daarnaast kiezen om je webshop te integreren met een bestaande e-mailmarketing app.</p>
                <div class="line"></div>
                <h2>B2B en/of B2C klanten</h2>
                <p>Heb je te maken met zowel particuliere als zakelijke klanten? Onder de optie Klantsegmentatie maak je zakelijke of particuliere klantgroepen aan en ken je deze een mailinglijst en aparte prijs en kortingsopties toe. Deze groepen verschijnen op de individuele klantpagina binnen de administratieve omgeving, waardoor je gemakkelijk de klant een groep kunt toekennen.</p>
                <div class="line"></div>
                <section id="tabs" class="project-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Klantbeheer</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Productbeheer</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Integratie</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Voorraadbeheer</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Orderbeheer</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Rapportages</a>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                        {% if gegevens %}
                                            <table class="table" cellspacing="0" style="align-items: center;">
                                                <thead>
                                                <tr>
                                                    <th>Onderwerp</th>
                                                    <th style="float: right;"></th>
                                                </tr
                                                </thead>
                                                <tbody>
                                                {% for gegeven in gegevens %}
                                                    <tr>
                                                        <td width="30px">{{ gegeven.title }}</td>
                                                        <td>
                                                            <a style="float: right;" href="{{ path('article_show', {'slug' : gegeven.slug}) }}" class="btn btn-grey">Bekijk {{ gegeven.title }}</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        {% else %}
                                            <p>No articles</p>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <table class="table" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Employer</th>
                                                <th>Time</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><a href="#">Work 1</a></td>
                                                <td>Doe</td>
                                                <td>john@example.com</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Work 2</a></td>
                                                <td>Moe</td>
                                                <td>mary@example.com</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Work 3</a></td>
                                                <td>Dooley</td>
                                                <td>july@example.com</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <table class="table" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Contest Name</th>
                                                <th>Date</th>
                                                <th>Award Position</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><a href="#">Work 1</a></td>
                                                <td>Doe</td>
                                                <td>john@example.com</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Work 2</a></td>
                                                <td>Moe</td>
                                                <td>mary@example.com</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Work 3</a></td>
                                                <td>Dooley</td>
                                                <td>july@example.com</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

