{% extends 'admin/adminbase.html.twig' %}



{% block body %}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin') }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blog</li>
        </ol>

        <h1>Blog aanmaken</h1>
        <hr>

        {{ form_start(form) }}
        {{ form_end(form) }}

{% endblock %}



