{% extends 'base.html.twig' %}

{% block body %}
    <!-- Form Element area Start-->
    <div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>Boost uw traffic, omzet en winst met Onetoshop</h2>
                            <p>
                                Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past binnen elk budget en alle functies en meer! bevat die je van een
                                webshopplatform verwacht. Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime
                                informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en
                                kennis, van startup tot multinational.
                            </p>
                        </div>
                        <div class="basic-tb-hd">
                            <h2>De meeste functionaliteit voor de laagste prijs</h2>
                            <p>
                                Een compleet geïntegreerde webshopservice, dat op alle fronten een oplossing biedt en geheel op maat gemaakt kan worden; waardoor u geld en tijd
                                bespaart.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Daarom Onetoshop!</h2>
                            <p>
                                Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past binnen elk budget en alle functies en meer! bevat die je van een
                                webshopplatform verwacht. Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime
                                informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en
                                kennis, van startup tot multinational.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Integratie</h2>
                            <p>
                                Door jouw bedrijfsprocessen aan elkaar te koppelen haal je extra waarde uit je webshop. Het platform kan naadloos worden geïntegreerd met je huidige website, of een nieuwe,
                                frisse uitstraling geven aan je huidige online omgeving. Daarnaast integreert Onetoshop alle gewenste betaal- en verzendkoppelingen met je site en automatiseert het platform
                                het onderhoud van externe relaties. Zo houd jij tijd over om jouw bedrijf te ontwikkelen.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Klantbeheer</h2>
                            <p>
                                Van sociale media tot e-mailcampagnes, ons platform stelt jou in staat om de betrokkenheid van klanten te vergroten. Door middel van volledige
                                automatisering en realtime feedback leer je jouw klanten beter begrijpen en jouw producten en berichten hierop aan te passen. Ook kun je met behulp
                                van onze klantsegmentatie optie B2B en B2C klanten scheiden en deze klantgroepen eigen kortingen, prijzen en opties toewijzen.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Orderbeheer</h2>
                            <p>
                                Door middel van de klantsegmentatie optie van Onetoshop is het systeem geschikt voor zowel B2B als B2C verkoop (of beide). Zo wordt,
                                na inlog, altijd het juiste BTW tarief zichtbaar. Daarnaast bespaar je tijd en geld met onze volledig geïntegreerde managementtool die jou in
                                real-time een volledig overzicht van je orders geeft, van de eerste bestelling tot en met de levering.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Voorraadbeheer</h2>
                            <p>
                                Zijn je producten nog op voorraad? Moet je bijbestellen? Met het Onetoshop platform heb je de volledige controle over je inventaris,
                                zodat je nooit zonder voorraad komt te zitten. Daarnaast kun je een dropshipmentoptie toevoegen en heb je controle over de voorraad van je leveranciers.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Productbeheer</h2>
                            <p>
                                Onetoshop geeft je inzicht in de prestaties van jouw site, door je real-time rapportages te verschaffen van elk proces: van webverkeer tot
                                conversiepercentages, zodat je in staat bent om succes te simuleren en obstakels uit de weg te ruimen.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Webshopbeheer</h2>
                            <p>
                                Met een webwinkel verkoop je naast producten ook een ‘merk’, namelijk jezelf, je eigen webshop. Om te zorgen dat jouw webshop opvalt tussen alle
                                andere shops, kun je jouw webwinkel op vele manieren customizen en heb je opties om de voorpagina zo in te richten dat mensen jouw ‘brand’ herkennen.
                                Daarnaast geef je jouw voorkeuren aan voor de afhandeling van orders, facturen, nieuwsbrieven, etc.
                            </p>
                        </div>
                        <div class="cmp-tb-hd">
                            <h2>Zoekmachine optimalisatie</h2>
                            <p>De meeste nieuwe bezoekers komen op jouw website terecht via een zoekmachine. Een webshop of website komt echter niet zomaar in de zoekresultaten
                                van een zoekmachine naar boven. De afgelopen jaren is er veel veranderd op het gebied van indexatie en verificatie. Ons platform is geoptimaliseerd
                                voor SEO, zodat jouw site een hoge ranking krijgt in de zoekmachines.
                            </p>
                            <p>
                                Vragen? Neem contact op om meer informatie te krijgen over hoe je jouw positie kunt verbeteren en nieuwe klanten kunt vinden die op zoek zijn naar
                                jouw producten.
                            </p>
                        </div>
                            <div class="ism-slider" data-transition_type="fade" data-play_type="loop" data-interval="3000" data-buttons="false" id="my-slider">
                                <ol>
                                    <li>
                                        <img src="ism/image/slides/_u/1572011861782_268055.png">
                                        <div class="ism-caption ism-caption-0">Uitermate tevreden over de manier van werken en gang van zaken bij Onetoshop!<br><br>Mark Veldman - GorillaGrip</div>
                                    </li>
                                    <li>
                                        <img src="ism/image/slides/_u/1572011865078_771590.png">
                                        <div class="ism-caption ism-caption-0">Het is dit laagdrempelige contact wat samenwerking zo plezierig maakt. Het is niet voor niets dat we al 10 jaar samenwerken met Onetoshop!<br><br>Patrick Strijker - TrailerPlus</div>
                                    </li>
                                    <li>
                                        <img src="ism/image/slides/_u/1572011859225_193545.png">
                                        <div class="ism-caption ism-caption-0">Ik werk inmiddels al zeven jaar samen met Onetoshop en we hebben die zeven jaar veel intensief contact gehad. Als er iets is kan ik altijd bellen en wordt het probleem direct opgelost.<br><br>John van Os - Een GroeneWereld</div>
                                    </li>
                                    <li>
                                        <img src="ism/image/slides/_u/1572012547516_185032.png">
                                        <div class="ism-caption ism-caption-0">De service is laagdrempelig en bij problemen, lees uitdagingen, hebben we direct een ontwikkelaar aan de lijn die ons kan helpen. Zo blijft de continuïteit gewaarborgd.<br><br>Oskar van der Stege - Campersalon</div>
                                    </li>
                                </ol>
                            </div>
                        <div class="cmp-tb-hd">
                            <section class="newsletter">
                                <div class="container1">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="content">
                                                <h2>Meld je nu aan!</h2>
                                                <div class="input-group">
                                                    <input type="email" class="form-control" placeholder="Uw email">
                                                    <span class="input-group-btn">
                                                        <button class="btn" type="submit">Start nu</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
