{% extends 'base.html.twig' %}

{% block body %}
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-house"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Home</h2>
                                        <p>Onetoshop heeft alle oplossingen. Of u nu een startende webwinkelier bent, <span class="bread-ntd"> of al jaren vele producten verhandelt; wij hebben het pakket dat bij uw bedrijf past</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Element area Start-->
    <div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div class="cmp-tb-hd">
                            <h1>Boost uw traffic, omzet en winst met Onetoshop</h1>
                            <p>
                                Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past binnen elk budget en alle functies en meer! bevat die je van een
                                webshopplatform verwacht. Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime
                                informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en
                                kennis, van startup tot multinational.
                            </p>
                            </div>
                        </div>
                        <div class="basic-tb-hd">
                            <div class="cmp-tb-hd">
                            <h2>De meeste functionaliteit voor de laagste prijs</h2>
                            <p>
                                Een compleet geïntegreerde webshopservice, dat op alle fronten een oplossing biedt en geheel op maat gemaakt kan worden; waardoor u geld en tijd
                                bespaart.
                            </p>
                            </div>
                        </div>

{#                      flip card#}

                    <div class="row">
                        <div class="cmp-tb-hd">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="cover">
                                                    <img src="images/GorillaGrip_background.png"/>
                                                </div>
                                                <div class="user">
                                                    <a href="http://www.gorillagrip.nl" target="_blank">
                                                        <img class="img-circle" src="images/GorillaGrip.png"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="name">Mark Veldman</h3>
                                                        <p class="profession">GorillaGrip</p>
                                                        <p class="text-center">"Uitermate tevreden over de manier van werken en gang van zaken bij Onetoshop!"</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h2 class="motto">GorillaGrip</h2>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <p class="text-center">Ga naar direct naar de website!</p>
                                                        <p class="text-center"><a href="https://www.gorillagrip.nl" target="_blank">https://www.gorillagrip.nl</a></p>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <div class="social-links text-center">
                                                        <a href="https://www.facebook.com/gorillagripequipment" target="_blank" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                        <a href="https://www.instagram.com/gorillagripnl" target="_blank"class="instagram"><i class="fa fa-instagram fa-fw"></i></a>
                                                    </div>
                                                </div>
                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->
                                    </div> <!-- end card-container -->
                                </div> <!-- end col sm 3 -->

                                <div class="col-md-4 col-sm-6">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="cover">
                                                    <a href="https://www.trailerplus.nl" target="_blank">
                                                        <img src="images/trailerplus_background.png"/>
                                                    </a>
                                                </div>
                                                <div class="user">
                                                    <img class="img-circle" src="images/trailerplus.png"/>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="name">Patrick Strijker</h3>
                                                        <p class="profession">TrailerPlus</p>
                                                        <p class="text-center">"Het is dit laagdrempelige contact wat samenwerking zo plezierig maakt. Het is niet voor niets dat we al 10 jaar samenwerken met Onetoshop!"</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h2 class="motto">TrailerPlus</h2>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <p class="text-center">Ga naar direct naar de website!</p>
                                                        <p class="text-center"><a href="https://www.trailerplus.nl" target="_blank">https://www.trailerplus.nl</a></p>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <div class="social-links text-center">
                                                        <a href="https://www.facebook.com/aanhangeronderdelen" target="_blank" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                        <a href="https://www.instagram.com/trailerplus.nl" target="_blank" class="instagram"><i class="fa fa-instagram fa-fw"></i></a>
                                                    </div>
                                                </div> <!-- end back panel -->
                                            </div> <!-- end card -->
                                        </div> <!-- end card-container -->
                                    </div> <!-- end col sm 3 -->
                                </div>



                                <div class="col-md-4 col-sm-6">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="cover">
                                                    <img src="images/een_groene_wereld_background.png"/>
                                                </div>
                                                <div class="user">
                                                    <a href="https://www.een-groenewereld.nl" target="_blank">
                                                        <img class="img-circle" src="images/een_groene_wereld.png"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="name">John van Os</h3>
                                                        <p class="profession">Een GroeneWereld</p>
                                                        <p class="text-center">"Ik werk inmiddels al zeven jaar samen met Onetoshop en we hebben die zeven jaar veel intensief contact gehad. Als er iets is kan ik altijd bellen en wordt het probleem direct opgelost."</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h2 class="motto">Een GroeneWereld</h2>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <p class="text-center">Ga naar direct naar de website!</p>
                                                        <p class="text-center"><a href="https://www.een-groenewereld.nl" target="_blank">https://www.een-groenewereld.nl</a></p>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <div class="social-links text-center">
                                                        <a href="https://www.facebook.com/EenGroeneWereld" class="facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                                        <a href="https://www.instagram.com/1groenewereld" class="instagram" target="_blank"><i class="fa fa-instagram fa-fw"></i></a>
                                                        <a href="https://twitter.com/eengroenewereld" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                                                    </div>
                                                </div>
                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->
                                    </div> <!-- end card-container -->
                                </div> <!-- end col sm 3 -->


                                <div class="col-md-4 col-sm-6">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="cover">
                                                    <img src="images/campersalon_background.png"/>
                                                </div>
                                                <div class="user">
                                                    <a href="https://www.campersalon.nl" target="_blank">
                                                        <img class="img-circle" src="images/campersalon.png"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="name">Oskar van der Stege</h3>
                                                        <p class="profession">CamperSalon</p>
                                                        <p class="text-center">"De service is laagdrempelig en bij problemen, lees uitdagingen, hebben we direct een ontwikkelaar aan de lijn die ons kan helpen. Zo blijft de continuïteit gewaarborgd."</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h2 class="motto">Campersalon</h2>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <p class="text-center">Ga naar direct naar de website!</p>
                                                        <p class="text-center"><a href="https://www.campersalon.nl" target="_blank">https://www.campersalon.nl</a></p>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <div class="social-links text-center">
                                                        <a href="https://www.facebook.com/campersalon" class="facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                                        <a href="https://twitter.com/campersalon" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                                                    </div>
                                                </div>
                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->
                                    </div> <!-- end card-container -->
                                </div> <!-- end col sm 3 -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>


{#                      end flip card#}
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-element-list">
                                <div class="basic-tb-hd">
                                    <div class="cmp-tb-hd">
                                        <div class="form-v5-content">
                                            <form class="form-detail" action="#" method="post">
                                                <h2>Meld u nu aan!</h2>
                                                <div class="form-row">
                                                    <label for="your-email">Email</label>
                                                    <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                                                </div>
                                                <div class="form-row-last">
                                                    <input type="submit" name="start" class="register" value="Start">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
