{% extends 'base1.html.twig' %}

{% block body %}

<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <br>
            <br>
            <br>
            <br>
            <h1 class="my-4">Resultaat
            </h1>
            <hr>
{#            {% if blogs %}#}
{#{% for blogs in blogs %}#}
{#{% endfor %}#}
{#            {% else %}#}
{#                <p>Er zijn Geen Gegevens gevonden</p>#}
{#            {% endif %}#}
{#            {{ dump(query) }}#}
        </div>
    </div>
</div>
{% endblock %}
