{% extends 'base.html.twig' %}


{% block body %}
    <div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h1>{{ gegeven.title }}</h1>
                            <div class="row">
                                <p>{{ gegeven.body | raw }}</p>
                                <hr>
                                <a href="{{ path('functionaliteit') }}">Terug</a>
                                <table>
                                    <thead>
                                    <tr>
                                        <td>

                                        </td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}