
{% extends 'base.html.twig' %}
<div class="mr-5"> {% if aanmeldingen %} {% for aanmeld in aanmeldingen %} {% endfor %}
    Nieuwe aanmeldingen!</div>
{% else %}
    <p>Niks gevonden om weer te geven.</p>
{% endif %}