{% extends 'base1.html.twig' %}
{% block navbar %}

    <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('algemene_voorwaarden') }}" class="nav-link active">Algemene voorwaarden</a>
                <a href="{{ path('privacy_statement') }}" class="nav-link ">Privacy statement</a>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}
<div class="" id="contact-section">
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <!-- /.col-lg-8 -->
            <div class="col-12">
                <p><b>Algemene voorwaarden</b></p>
                <p>Onetoshop – Algemene voorwaarden – Versie 1.1</p>
                <h4><b>Definities</b></h4>
                <p class="font-weight-light">
                    1.1 Abonnee: De (rechts)persoon met wie Onetoshop, ingeschreven bij de Kamer van Koophandel onder nummer 05083470, een Overeenkomst heeft gesloten.
                </p>
                <p class="font-weight-light">
                    1.2 Diensten: De door Onetoshop te verlenen diensten zoals beschreven op onetoshop.nl, waaronder het verschaffen van toegang tot en het gebruik van het systeem via een browser uitsluitend met het doel de webwinkel op te zetten en te onderhouden, en de hosting van de webwinkel.
                </p>
                <p class="font-weight-light">
                    1.3 Klantnummer: Het klantnummer met bijbehorende toegangscode waarmee abonnee toegang krijgt tot de Diensten.
                </p>
                <p class="font-weight-light">
                    1.4 Overeenkomst: De overeenkomst (inclusief deze Algemene Voorwaarden) tussen Onetoshop en abonnee op grond waarvan Onetoshop aan Abonnee Diensten verleent.
                </p>
                <p class="font-weight-light">
                    1.5 Systeem: Door Onetoshop beheerde apparatuur, programmatuur (waaronder mede begrepen de programmacode voor het opzetten en onderhouden van een Webwinkel), schrijfruimte en de Website waarmee zij aan Abonnee de Diensten verleent.
                </p>
                <p class="font-weight-light">
                    1.6 Website: De website onetoshop.nl
                </p>
                <p class="font-weight-light">
                    1.7 Webwinkel: De door Abonnee beheerde webwinkel, bestaande uit bestanden met productgegevens waarmee deze webwinkel kan worden gegenereerd en waarin klanten het aanbod van producten en diensten kunnen zoeken, raadplegen en deze producten en diensten kunnen bestellen.
                </p>

                <h4><b>Toepasselijkheid</b></h4>
                <p class="font-weight-light">
                    2.1 Deze Algemene Voorwaarden zijn van toepassing op alle rechtsbetrekkingen tussen Onetoshop en de Abonnee.
                </p>
                <p class="font-weight-light">
                    2.2 De toepasselijkheid van algemene of specifieke voorwaarden van de Abonnee of van derden wordt door Onetoshop uitdrukkelijk van de hand gewezen. Bedingen die afwijken van deze Algemene Voorwaarden zijn slechts geldig voor zover deze door partijen schriftelijk zijn overeengekomen.
                </p>
                <p class="font-weight-light">
                    2.3 Onetoshop is gerechtigd de inhoud van deze Algemene Voorwaarden eenzijdig te wijzigen. Wijzigingen worden schriftelijk of per e-mail bekendgemaakt en treden veertien (14) dagen na bekendmaking in werking, of op een andere datum die in de bekendmaking is vermeld.
                </p>
                <p class="font-weight-light">
                    2.4 Indien Abonnee de wijzigingen in de Algemene Voorwaarden niet wenst te accepteren, heeft hij het recht de Overeenkomst per de datum waarop de gewijzigde voorwaarden van kracht worden op te zeggen zonder dat Onetoshop tot vergoeding van kosten of schade is gehouden. Het betaalde abonnementsgeld zal pro rato worden gerestitueerd.
                </p>

                <h4><b>Totstandkoming Overeenkomst</b></h4>
                <p class="font-weight-light">
                    3.1 Alle aanbiedingen van Onetoshop zijn vrijblijvend en kunnen binnen 30 werkdagen na kennisneming van de aanvaarding van het aanbod worden herroepen, tenzij in het aanbod uitdrukkelijk anders wordt aangegeven.
                </p>
                <p class="font-weight-light">
                    3.2 De Overeenkomst tussen Onetoshop en Abonnee komt tot stand bij het aanvragen van een gratis proef versie tijdens registratieproces op de Website van Onetoshop.
                </p>
                <p class="font-weight-light">
                    3.3 Onetoshop heeft het recht zonder opgaaf van reden een Abonnee te weigeren.
                </p>

                <h4><b>Rechten en verplichtingen Onetoshop</b></h4>
                <p class="font-weight-light">
                    4.1 Onetoshop spant zich in om de Diensten continu ter beschikking te stellen maar garandeert niet dat de Diensten ten allen tijde beschikbaar zijn.
                </p>
                <p class="font-weight-light">
                    4.2 Onetoshop is niet betrokken bij de verkoop van producten en diensten die worden aangeboden in de Webwinkel. Onetoshop is dan ook niet verantwoordelijk voor het assortiment, de kwaliteit van de aangeboden producten en diensten, reclame, en de afhandeling van de verkoop zoals betaling en levering.
                </p>
                <p class="font-weight-light">
                    4.3 Onetoshop behoudt zich het recht voor wijzigingen aan te brengen in de Diensten. Onetoshop zal zich inspannen om wijzigingen die een beperking van de kernfuncties van de Diensten inhouden vooraf, met inachtneming van een redelijke termijn, te melden, tenzij dit redelijkerwijs of technisch niet mogelijk is.
                </p>
                <p class="font-weight-light">
                    4.4 Indien Abonnee niet akkoord wenst te gaan met een wijziging van de Diensten zoals genoemd in het voorgaande lid, is Abonnee gerechtigd binnen dertig (30) werkdagen na de kennisneming daarvan de Overeenkomst schriftelijk of per e-mail op te zeggen.
                </p>
                <p class="font-weight-light">
                    4.5 Onetoshop kan de Diensten mogelijk uitbreiden met modules die nieuwe functionaliteiten bevatten. Modules die aan nieuwe gebruikers tegen betaling worden aangeboden, vallen niet automatisch onder de reikwijdte van de Overeenkomst. Indien Abonnee gebruik wenst te maken van deze modules dient zij hierover nadere afspraken te maken met Onetoshop.
                </p>

                <h4><b>Rechten en verplichtingen Abonnee</b></h4>
                <p class="font-weight-light">
                    5.1 Abonnee verkrijgt hierbij het niet-exclusieve en niet-overdraagbare recht om via de door haar te verzorgen apparatuur en programmatuur de Diensten te gebruiken voor het opzetten van één Webwinkel zoals beschreven op onetoshop.nl
                </p>
                <p class="font-weight-light">
                    5.2 Abonnee is verantwoordelijk voor alle gebruik van de Diensten.
                </p>
                <p class="font-weight-light">
                    5.3 Abonnee is zelf verantwoordelijk voor het op de juiste wijze maken van backups van eigen gegevens die worden gebruikt voor het opzetten en onderhouden van de Webwinkel.
                </p>
                <p class="font-weight-light">
                    5.4 Abonnee dient bij het aangaan van de Overeenkomst de juiste, actuele en volledige (adres)gegevens te verschaffen welke aan Abonnee worden gevraagd tijdens het registratieproces. Abonnee dient wijzigingen in deze (adres)gegevens zo spoedig mogelijk via de Website van Onetoshop door te geven, of te veranderen.
                </p>
                <p class="font-weight-light">
                    5.5 Abonnee dient zich te onthouden van ongeoorloofd gebruik van de Diensten en zal zich opstellen en gedragen conform hetgeen door Onetoshop mag worden verwacht van een zorgvuldig gebruiker. In het bijzonder zal Abonnee bij het gebruik van de Diensten:<br><br>
                    (a) geen gegevens plaatsen op het Systeem die inbreuk maken op intellectuele eigendomsrechten van derden;<br>
                    (b) geen producten of diensten aanbieden die gestolen zijn, in strijd zijn met wettelijke bepalingen of anderszins inbreuk maken op rechten van derden;<br>
                    (c) geen gegevens verspreiden die in strijd zijn met wettelijke bepalingen, de openbare orde en de goede zeden;<br>
                    (d) niet opzettelijk virussen of andere programma's verspreiden of laten verspreiden die schade toe kunnen brengen aan apparatuur, programmatuur of gegevens van derden; (e) zich geen toegang (trachten te) verschaffen tot computers of computersystemen waarvoor hij niet geautoriseerd is ('hacken');<br>
                    (f) geen op het Systeem geplaatste gegevens van andere gebruikers van de Diensten veranderen, wissen of onbruikbaar maken of gegevens aan die gegevens van derden toevoegen zonder toestemming van de desbetreffende derde;<br>
                    (g) niet op een zodanige wijze gebruik maken van de Diensten dat daardoor de juiste werking daarvan wordt verhinderd, dan wel dat hierdoor schade of hinder aan andere gebruikers van de Diensten kan worden toegebracht;<br>
                    (h) zich onthouden van het op enigerlei wijze ter beschikking stellen van zijn Gebruikersnaam of (een deel van) de Diensten aan derden. Abonnee zal zijn Gebruikersnaam strikt persoonlijk en geheim houden;<br>
                    (i) alle aanwijzingen van Onetoshop die worden gegeven in verband met het gebruik van haar diensten opvolgen.
                </p>
                <p class="font-weight-light">
                    5.6 Onverminderd haar overige rechten op grond van de wet of de Overeenkomst behoudt Onetoshop zich het recht voor haar verplichtingen jegens Abonnee op te schorten of de Overeenkomst te ontbinden indien deze handelt, of redelijkerwijs wordt vermoed te handelen in strijd met artikel 5.5, zonder dat Onetoshop tot enige schadevergoeding is gehouden.
                </p>

                <h4><b>Prijzen en betaling</b></h4>
                <p class="font-weight-light">
                    6.1 Tenzij anders is vermeld, zijn alle prijzen en tarieven in euro's en exclusief BTW en andere overheidsheffingen.
                </p>
                <p class="font-weight-light">
                    6.2 Het gebruik van de Diensten is gedurende de proefperiode van een 14 dagen kosteloos. Indien Abonnee na of tijdens de proefperiode kiest voor een betaald abonnement worden de verschuldigde kosten maandelijks bij vooruitbetaling in rekening gebracht. Alle facturen worden automatisch geïncasseerd.
                </p>
                <p class="font-weight-light">
                    6.3 Onetoshop is in alle gevallen gerechtigd de overeengekomen prijs aan te passen door middel van een e-mail aan Abonnee met inachtneming van een termijn van dertig (30) dagen.
                </p>
                <p class="font-weight-light">
                    6.4 Indien Abonnee niet akkoord wenst te gaan met een door Onetoshop kenbaar gemaakte aanpassing van de prijs, is Abonnee gerechtigd binnen dertig (30) werkdagen na de kennisgeving daarvan de Overeenkomst schriftelijk of per e-mail op te zeggen tegen de in de kennisgeving van Onetoshop genoemde datum waarop de prijsaanpassing in werking zou treden. Het betaalde abonnementsgeld zal pro rato worden gerestitueerd.
                </p>
                <p class="font-weight-light">
                    6.5 Indien Abonnee de verschuldigde bedragen niet binnen de overeengekomen termijn betaalt, zal de Abonnee, zonder dat enige ingebrekestelling nodig is, over het openstaande bedrag de wettelijke rente verschuldigd zijn. Indien Abonnee na ingebrekestelling nalatig blijft de vordering te voldoen, kan de vordering uit handen worden gegeven, in welk geval Abonnee naast het alsdan verschuldigde totale bedrag tevens gehouden zal zijn tot volledige vergoeding van buitengerechtelijke en gerechtelijke kosten, waaronder alle kosten berekend door externe deskundigen naast de in rechte vastgestelde kosten, verband houdende met de inning van deze vordering of van rechtsuitoefening anderszins, waarvan de hoogte wordt bepaald op minimaal 15% van het totale bedrag.
                </p>
                <p class="font-weight-light">
                    6.6 Onverminderd haar overige rechten op grond van de wet of de Overeenkomst, is Onetoshop bij gebreke van tijdige betaling gerechtigd de Dienst op te schorten zonder jegens Abonnee tot enige vergoeding van kosten of schade gehouden te zijn.
                </p>

                <h4><b>Intellectuele eigendomsrechten</b></h4>
                <p class="font-weight-light">
                    7.1 Alle intellectuele eigendomsrechten met betrekking tot de Diensten berusten bij Onetoshop respectievelijk bij haar licentiegevers.
                </p>
                <p class="font-weight-light">
                    7.2 Abonnee verkrijgt, voor zover noodzakelijk voor gebruikmaking van de diensten, een niet-overdraagbaar en niet-exclusief gebruiksrecht met betrekking tot deze intellectuele eigendomsrechten.
                </p>

                <h4><b>Duur en beëindiging</b></h4>
                <p class="font-weight-light">
                    8.1 De Overeenkomst voor het proefabonnement wordt aangegaan voor de duur van en eindigt van rechtswege na 14 dagen.
                </p>
                <p class="font-weight-light">
                    8.2 Indien Abonnee tijdens of na de proefperiode kiest voor voortzetting van het abonnement wordt de Overeenkomst verlengd met 1 jaar. Na deze periode wordt de overeenkomst automatisch per jaar verlengd.
                </p>
                <p class="font-weight-light">
                    8.3 De Overeenkomst kan worden opgezegd, met inachtneming van een opzegtermijn van 1 kalendermaanden.
                </p>
                <p class="font-weight-light">
                    8.4 Onetoshop en Abonnee zijn bevoegd de Overeenkomst met onmiddellijke ingang zonder nadere ingebrekestelling of rechterlijke tussenkomst schriftelijk of per e-mail te ontbinden en zonder daarbij gehouden te zijn tot enige vergoeding van kosten of schade in de volgende gevallen;<br>
                    (a) indien de andere partij haar faillissement aanvraagt of in staat van faillissement wordt verklaard;<br>
                    (b) Abonnee (voorlopige) surséance van betaling aanvraagt of hem (voorlopige) surséance van betaling wordt verleend;<br>
                    (c) Abonnee onder curatele of bewind is gesteld, dan wel Onetoshop haar activiteiten staakt of liquideert.
                </p>
                <p class="font-weight-light">
                    8.5 Ongeacht het overige bepaalde in deze Overeenkomst zullen de volgende verplichtingen na het einde van deze Overeenkomst doorlopen:<br>
                    (a) openstaande betalingen;<br>
                    (b) intellectuele eigendomsrechten;<br>
                    (c) aansprakelijkheid.
                </p>

                <h4><b>Aansprakelijkheid en overmacht></b></h4>
                <p class="font-weight-light">
                    9.1 Onetoshop is nimmer aansprakelijk voor enige indirecte schade van Abonnee of derden, waaronder mede begrepen gevolgschade en immateriële schade als gevolg van het gebruiken of niet-gebruiken van de Diensten.
                </p>
                <p class="font-weight-light">
                    9.2 De aansprakelijkheid van Onetoshop jegens Abonnee, uit welken hoofde dan ook, is beperkt tot de door Abonnee op grond van de Overeenkomst verschuldigde vergoeding voor een periode van zes (6) maanden voorafgaand aan het moment waarop de schade is ontstaan.
                </p>
                <p class="font-weight-light">
                    9.3 Abonnee zal Onetoshop en door haar ingeschakelde derden vrijwaren voor alle aanspraken van derden terzake van aansprakelijkheid, schade en kosten, ontstaan als gevolg van of verband houdende met het gebruiken of niet-gebruiken door Abonnee van de Diensten.
                </p>
                <p class="font-weight-light">
                    9.4 De vorige leden van dit artikel zijn niet van toepassing indien en voorzover de betreffende schade is veroorzaakt door opzet of grove schuld van Onetoshop of haar hoogste leidinggevend personeel.
                </p>
                <p class="font-weight-light">
                    9.5 Onetoshop is niet gehouden tot het nakomen van een of meer verplichtingen indien zij daartoe verhinderd is als gevolg van overmacht. Onder overmacht wordt mede verstaan een tekortkoming van externe hosting providers en toeleveranciers van Onetoshop en onderbrekingen of storingen in de stroom- en/of telecommunicatievoorzieningen.
                </p>
                <p class="font-weight-light">
                    9.6 Wanneer de overmachtsituatie langer dan zestig (60) dagen heeft geduurd, heeft Abonnee het recht om de Overeenkomst door schriftelijke ontbinding of ontbinding per email te beëindigen zonder dat Onetoshop tot enige vergoeding van kosten of schade is gehouden.
                </p>

                <h4><b>Varia, toepasselijk recht en bevoegde rechter</b></h4>
                <p class="font-weight-light">
                    10.1 Op deze Overeenkomst is Nederlands recht van toepassing.
                </p>
                <p class="font-weight-light">
                    10.2 Abonnee is niet gerechtigd de rechten en verplichtingen uit de Overeenkomst zonder voorafgaande schriftelijke toestemming van Onetoshop aan een derde, waaronder mede entiteiten binnen het concern waar Abonnee onderdeel van is moet worden verstaan, over te dragen. Onetoshop is gerechtigd de rechten en verplichtingen uit de Overeenkomst over te dragen aan derden. Abonnee verleent reeds nu voor alsdan zijn instemming met een dergelijke overdracht. In het geval van een dergelijke overdracht heeft Abonnee, indien hij zich hier niet in kan vinden, het recht de Overeenkomst met onmiddellijke ingang schriftelijk of per e-mail op te zeggen.
                </p>
                <p class="font-weight-light">
                    10.3 Indien een of meerdere bepalingen van deze Overeenkomst nietig of vernietigbaar zijn laat zulks de geldigheid van de overige bepalingen onverlet. Partijen zullen in overleg treden teneinde nieuwe bepalingen ter vervanging van de nietige c.q. vernietigde bepalingen overeen te komen, waarbij zoveel mogelijk het doel en de strekking van de nietige c.q. vernietigde bepaling in acht worden genomen.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}