{% extends 'base.html.twig' %}

{% block title %}show image!{% endblock title%}

{% block body %}

<div class="row">
    <div class="container">
        <div class="basic-tb-hd">
            <div class="cmp-tb-hd">
    {% for image in image %}


    <div class="cmp-tb-hd">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="{{ asset('/image/' ~ image.image) }}"/>
                        </div>
                        <div class="user">
                            <a href="" target="_blank">
                                <img src="{{ asset('/image/' ~ image.image1) }}"/>
                            </a>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">test</h3>
                                <p class="profession">test</p>
                                <p class="text-center">test</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h2 class="motto">test</h2>
                        </div>
                        <div class="content">
                            <div class="main">
                                <p class="text-center">Ga naar direct naar de website!</p>
                                <p class="text-center"><a href="" target="_blank">test</a></p>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <p>test</p>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
    </div>
    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
